version: "3.9"

services:
  db:
    image: postgres:15
    container_name: spycat_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - spycat_db_data:/var/lib/postgresql/data

volumes:
  spycat_db_data:
